html {
    font-size: 62.5%;
}

body {
    font-size: 16px; /* 1rem == 10px */
}

table {
    margin: 0 auto;
    border-collapse: collapse;
}

td, th {
    border: 0.1rem solid black;
    padding: 0.4rem;
}

.botones {
    margin: 0 auto;
    width: 10rem;
}